html, body, .image_preview {
    min-height: 100%;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top {
    width: 100%;
    margin: 40px 0px;
}

.top, .playButton, .image_preview {
    display: flex;
}

.top, .playButton, .image_preview {
    align-items: center;
    justify-content: center;
}

.galerie {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height : 149px;
    flex-wrap: wrap;
}

.image {
    width: 23%;
    height: 139px;
    margin-bottom: 10px;
    background-color: #ccc;
    background-repeat:  no-repeat;
    background-size : cover;
}

.image_preview {
    position: fixed;
    z-index : 100000;
    background-color: rgba(0, 0, 0, 0.6);
    width : 100%;
    top: 0;
}

.image_preview img {
    position : relative;
    width : 70%;
    max-width : 800px;
}

.image:hover {
    opacity: 0.8;
    border: 2px solid white;
}

.description {
    text-align: justify;
    color: white;
    opacity: 0.9;
}

.playButton {
    font-size: 22px;
    color: white;
    padding: 15px 0px;
    text-transform: uppercase;
    background-color: #29ca00;
}

.classment table {
    margin-top: 20px;
    width: 100%;
    background: #344557;
}

.classment table tr td {
    text-align: center;
}

tr.player td {
    width: 30%;
}

.classment table tr td {
    height : 40px;
}

.classment table tr:nth-child(2)  td {
    height : 25px;
}

.classment table tr:nth-child(n + 6) td {
    height : 25px;
    border-top : 1px solid white;
}


.classment table tr:nth-child(1), .classment table tr:nth-child(3) {
    background-color: #33caff;
}

.classment table tr:nth-child(4) {
    background-color: #33c9ff80;
}

.classment table tr:nth-child(5) {
    background-color: #33c9ff26;
}

canvas {
    width : 100%;
    height : 100%;
}
